@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
/* toggle dark light */
@custom-variant dark (&:where(.dark, .dark *));

.font-bitter {
  font-family: "Bitter", serif;
  font-style: normal;
}

/* From https://css.glass */

nav a.active {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  color: #584b45;
}
